html {background-color:beige;}

.theproblem {position: reletive;}

.thegap{text-align: center;
position: relative;}

.thegap h1{padding: 15px;
    background-color: rgb(117,187,117);
    border-color: rgb(2, 50, 14);
    border-width: 3px;
   z-index: 2;}

.thegap a {padding: 5px;
   font-size: 18px;
    background-color: rgb(117,187,117);
    border-color: rgb(19, 153, 53);     
    margin-bottom: 12px;
   z-index: 2;}

.fillgap {top: 0px;
   left: 0px;
   padding-left: 100%;
   padding-top: 140px;
      position: absolute;
      background-color: rgb(52, 95, 28);
   z-index: -1;}

    a:any-link{color:black;
        text-decoration: none;}


    a{font-size: 16px;}
    a.po {margin-left: 30px;}
    .re{position: fixed;
    right: 0px;
    top:0px}
  