html {background-color: beige;}

.theproblem {position: reletive;}

.thegap{text-align: center;
position: relative;}

.thegap h1{padding: 15px;
    background-color: rgb(117,187,117);
    border-color: rgb(2, 50, 14);
    border-width: 3px;
   z-index: 2;}

.thegap a {padding: 5px;
   font-size: 18px;
    background-color: rgb(117,187,117);
    border-color: rgb(19, 153, 53);     
    margin-bottom: 12px;
   z-index: 2;}

.fillgap {top: 0px;
   left: 0px;
   padding-left: 100%;
   padding-top: 125px;
      position: absolute;
      background-color: rgb(52, 95, 28);
   z-index: -1;}


h1 {padding: 25px;
    text-align: center;
    background-color: rgb(117, 187, 117);
   width: calc(width-device);}

h2 {font-size: 32px;}

.a {margin: auto;
   color: rgb(52, 100, 52);
   width : "width-device"; 
   font-size: 24px;}
/*this is instead of p*/

.pp {float: right;
   padding: 20px;
   padding: beige;}
.p {float: right;
   padding: 20px;
   padding: beige;}
a:any-link{color:black;
   text-decoration: none;}

.p-2 h3{width: 400px;}

